In [2]:
import pandas as pd

In [3]:
bg = pd.read_csv('Bottleneck_Gateways.csv')

In [4]:
bg.head()

,AcademicQtrKeyId,AcademicYrName,CourseCampus,FinCollegeReportingName,FinDepartmentReportingName,CourseLevelNbr,CourseSectionCode,CurriculumAbbrCode,CourseNbr,Course,...,simple_faculty_load_SCH,instr_name,instr_netid,fac_pct_involve,course,gateway_score,is_gateway,course.1,bottleneck_score,is_bottleneck
0,20231,2022/2023,2,Milgard School of Business,Milgard School of Business,200,2_T ACCT_210_A,T ACCT,210,T ACCT210,...,220.0,"Craig,Gordon",craiggr,100.0,T ACCT210,1.666382,0,T ACCT210,1.242351,0
1,20234,2023/2024,2,Milgard School of Business,Milgard School of Business,200,2_T ACCT_210_A,T ACCT,210,T ACCT210,...,200.0,"Saudagaran,Shahrokh",shahrokh,100.0,T ACCT210,1.666382,0,T ACCT210,1.242351,0
2,20211,2020/2021,2,Milgard School of Business,Milgard School of Business,200,2_T ACCT_210_A,T ACCT,210,T ACCT210,...,140.0,"Haneline,Derek",haneld,100.0,T ACCT210,1.666382,0,T ACCT210,1.242351,0
3,20224,2022/2023,2,Milgard School of Business,Milgard School of Business,200,2_T ACCT_210_A,T ACCT,210,T ACCT210,...,165.0,"Saudagaran,Shahrokh",shahrokh,100.0,T ACCT210,1.666382,0,T ACCT210,1.242351,0
4,20184,2018/2019,2,Milgard School of Business,Milgard School of Business,200,2_T ACCT_210_A,T ACCT,210,T ACCT210,...,225.0,"SEOW,Gim S",gseow,100.0,T ACCT210,1.666382,0,T ACCT210,1.242351,0

In [ ]:
bgGroup = bg.groupby('Course')[is_bottleneck]